---
import MainContainer from "src/components/MainContainer.astro";
import Layout from "../components/Layout.astro";
import Haru from "../images/haru.png";
---

<Layout>
  <MainContainer>
    <div
      class="flex flex-col md:flex-row items-center space-x-4 shadow-box-up dark:shadow-orange-dark p-4 md:p-6 rounded-xl"
    >
      <img
        class="p-1 mb-2 md:mb-0 w-40 h-40 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src={Haru.src}
        alt="image"
      />
      <div class="font-medium dark:text-white">
        <div class="mb-2 md:mb-0">名前：坂田海斗</div>
        <div class="text-xs text-gray-500 dark:text-gray-400">
          <p>性別　　　　：男</p>
          <p>生年月日　　：1999年9月2日</p>
          <p>お仕事　　　：プログラマー</p>
          <p>趣味　　　　：フットサル、個人開発</p>
          <p>好きな食べ物：唐揚げ、揚げ餅</p>
          <p>嫌いな食べ物：レバー</p>
        </div>
      </div>
    </div>
  </MainContainer>
</Layout>
