---
import Layout from "../components/Layout.astro";
import FlowTimerCard from "@components/FlowTimerCard.astro";
import ContainerScroll from "@components/ContainerScroll.astro";
---

<Layout>
	<FlowTimerCard />

	<div class="block lg:hidden 2xl:block overflow-auto no-scrollbar">
		<ContainerScroll>
			<h2 class="font-thin leading-extra-loose md:text-lg 2xl:text-xl text-light-blue-dark dark:text-dark-blue-light">Coming Soon</h2>
		</ContainerScroll>
	</div>
</Layout>