---
import "../styles/base.css";
import Technologies from "./Technologies.astro";
import {
	IconSun,
	IconGithub,
	IconUser,
	IconBlog,
	IconHome,
} from "../components/icons";
import RoundIconButton from "./RoundIconButton.astro";
import SquareIconLink from "./SquareIconLink.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="bV1A6kUeDJPLGJioDbv0zSnslf6pp9QQHPGdVc4WY8Q" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>sghhの作品集</title>
	</head>

	<body
		class="flex flex-col items-center justify-center relative box-border min-h-screen lg:overflow-hidden bg-light-primary dark:bg-gradient-main-dark"
	>
		<Technologies />
		<main
			class="flex flex-col p-4 m-4 md:p-8 md:my-10 md:mx-12 lg:my-0 w-fit lg:w-[calc(100vw_-_50%)] rounded-tr-2xl rounded-tl-lg rounded-b-lg bg-gradient-box-light shadow-sky-light dark:bg-box-dark dark:shadow-orange-dark min-h-[calc(100vh_-_80px)] lg:h-[calc(100vh_-_100px)] justify-between"
		>
			<div class="flex w-full relative mb-2 md:mb-4">
				<div
					class="flex flex-col self-end text-right ml-auto text-xl w-fit text-light-blue-dark dark:text-dark-blue-light"
				>
					<h1
						class="font-black leading-extra-loose md:text-3xl 2xl:text-4xl"
					>
						sghhの作品集
					</h1>
				</div>

				<div
					class="flex w-fit h-fit px-1.25 py-1.25 ml-4 2xl:ml-8 shadow-switcher rounded-2xl dark:bg-buttons-box-dark dark:shadow-box-dark-out"
				>
					<div
						class="dark:shadow-buttons-box-dark rounded-2xl w-min flex sm:w-full px-1.5 py-1.5 md:px-3 md:py-3 h-fit"
					>
						<SquareIconLink
							title="Go to the home page"
							target="_self"
							href="/"
						>
							<IconHome />
						</SquareIconLink>
						<SquareIconLink
							title="Go to post list page"
							target="_self"
							href="/postlist"
						>
							<IconBlog />
						</SquareIconLink>
						<SquareIconLink
							title="Go to the aboutme page"
							target="_self"
							href="/aboutme"
						>
							<IconUser />
						</SquareIconLink>
						<SquareIconLink
							title="Link to sghh02 GitHub"
							href="https://github.com/sghh02"
							target="_blank"
						>
							<IconGithub />
						</SquareIconLink>
						<span class="mr-4"></span>
						<RoundIconButton
							srOnly="Theme color switcher"
							type="button"
							onclick="window.toggleTheme()"
						>
							<IconSun />
						</RoundIconButton>
					</div>
				</div>
			</div>
			<slot />
		</main>

		<script is:inline>
			const toggleTheme = () => {
				document.documentElement.classList.toggle("dark");
				localStorage.theme =
					document.documentElement.classList.contains("dark")
						? "dark"
						: "light";
			};

			window.toggleTheme = toggleTheme;

			if (localStorage.theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</body>
</html>
